<% if @post.comments.first.present? %>
  <h3>Comments for this post:</h3>

  <table class="table">
    <tr>
      <th>User</th>
      <th>Text</th>
    </tr>

    <% @post.comments.each do |comment| %>
      <% @comment = comment %>
      <tr class="comment" id=<%=raw("\"comment_#{comment.id}\"")%>>
        <td><%= link_to comment.user, comment.user %><%= ": " %></td>
        <td><%= comment.body %></td>
        <td class="edit"><%= button_tag "Edit Comment", type: "button", onclick: "expand_edit()" %></td>
        <td>
          <%= button_to "Delete Comment", post_comment_path(comment.post, comment), method: :delete, data: {confirm: "Really delete this comment?"}, remote: true %>
        </td>
      </tr>
      <tr class="comment_edit" id=<%=raw("\"edit_comment_#{@comment.id}\"")%>>
        <% @current_post = comment.post %>
        <% @current_comment = comment %>
        <th><%= render "comments/edit" %></th>
      </tr>
    <% end %>
  </table>

<% else %>
  <p> There are no comments for this post yet.</p>

<% end %>