<h1 class="title">All Posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>User</th>
    <th>Comments</th>
  </tr>

  <% Post.all.each do |post| %>
    <tr id=<%=raw("\"post_#{post.id}\"")%>>
      <td><%= link_to post.title, post %></td>
      <td><%= post.text %></td>
      <td><%= link_to post.user, post.user %></td>
      <td><%= post.comments.count %>
      <td><%= link_to "Edit Post", edit_post_path(post)%></td>
      <td><%= link_to "Delete Post", post_path(post), method: :delete, data:{confirm:'Are you sure?'}, remote: true %></td>
    </tr>
  <% end %>
</table>
