<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "jquery" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    <% @user = current_user %>
    <%= link_to "Home", root_path %>
    <%= link_to "Log out", log_out_path %>
    <%= link_to "Create New Post", new_post_path %>
    <%= link_to "My Page", user_page_path(@user) %>
    <%= link_to "View All Posts", posts_path %>
    <%= link_to "View All Users", users_path %>
    Logged in as: <%= current_user.name %>
  <% else %>
    <%= link_to "Home", root_path %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "Log in", log_in_path %>
    <%= link_to "View All Posts", posts_path %>
    <%= link_to "View All Users", users_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>